<% 
	shadow = "-moz-box-shadow: 3px 13px 4px #000;-webkit-box-shadow: 3px 3px 4px #000;box-shadow: 3px 3px 4px #000;/* For IE 8 */-ms-filter: ""progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"";/* For IE 5.5 - 7 */filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');" 
%>
<style type="text/css">
a {
	text-decoration : none;
}

a:hover {
	color: #000000;
	text-decoration : underline;
}

.BankingAccountIcon {
	float: left;
	text-align: center;
	text-underline: none;
	width: 200px;
	height: 250px;
}

.BankingAccountIconName {
	text-shadow: 1px 1px #000000;
	text-underline: none;
	font-size: 12px;
	color: #000000;
	position: relative;
	top:-40px;
	color: #ffffff;
}

.BankingHover {
	background: <%= BANKING_THEME %>;
	color : white;
	font-family : Verdana;
	font-size: 8pt;
	font-weight : bold;
	border: 1px solid #000000;
}

.BankingHover A {
	background: <%= BANKING_THEME %>;
	color : white;
	font-family : Verdana;
	font-size: 7pt;
	font-weight : bold;
}

body {
	font-family : Cambria;
	padding: 0px;
	margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-image:url('/images/background/logo.gif');	
}

.clear {
	clear: both;
}

.ErrorMessage {
	color : red;
	font-weight : bold;
	font-size: 16px;
}


.Header {
	border: 1px solid #000000;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
}

.iconName {
	/*
	width: 116px;
	text-align: center;
	color: #000000;
	font-size:15px;
	*/
	text-shadow: 1px 1px #000000;
	text-underline: none;
	top: -5px;
	font-size: 15px;
	color: #000000;
	position: relative;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	background-color: <%= Application("ThemeColor") %>;
	-moz-box-shadow: 3px 13px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	border: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius:5px;
 	/* mozilla */
	-moz-border-radius:5px;
 	/* webkit */
	-webkit-border-radius:5px;
}

.iconName_sm {
	/*
	width: 116px;
	text-align: center;
	color: #000000;
	font-size:15px;
	*/
	text-shadow: 1px 1px #000000;
	text-underline: none;
	top: -5px;
	font-size: 12px;
	color: #000000;
	position: relative;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	background-color: <%= Application("ThemeColor") %>;
	-moz-box-shadow: 3px 13px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	border: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius:5px;
 	/* mozilla */
	-moz-border-radius:5px;
 	/* webkit */
	-webkit-border-radius:5px;
}

.iconSubNav {
	text-align: center;
	float: left;
	padding: 30px;
	width: 200px;
	height: 250px;
}

.iconSubNav_sm {
	text-align: center;
	float: left;
	padding: 10px
}

.shadow {
	<%= shadow %>
}

.SubHeader {
	text-transform: uppercase;
	border: 1px solid #000000;
	text-shadow: 1px 1px #000000;
}

.TextShadow {
	text-shadow: 1px 1px #000000;
}

</style>

<!-- #include virtual="/includes/css/forms.css" -->
<!-- #include virtual="/includes/css/elements.css" -->
<!-- #include virtual="/includes/css/modal.css" -->
<!-- #include virtual="/includes/css/tooltip.css" -->


